<link href="bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1">
<div class="card text-dark bg-light">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-auto mb-0 text-capitalize fw-bold" id="card-name"></div>
            <div class="col-auto mb-0 text-muted" id="card-address"></div>
        </div>
        <hr class="my-2" />
        <div class="row justify-content-between">
            <div class="col-auto" id="card-rssi"></div>
            <div class="col-auto" id="card-voltage"></div>
            <div class="col-auto" id="card-time"></div>
        </div>
    </div>
    <div class="card-body py-1">                   
        <div class="row justify-content-evenly">
            <div class="col-auto">
                <span class="fs-2" id="temp-int"></span>
                <span class="fs-5" id="temp-fract"></span>
            </div>
            <div class="col-auto">
                <span class="fs-2" id="hum-int"></span>
                <span class="fs-5" id="hum-fract"></span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-light btn-sm py-0 border" type="button" id="collapse-button">▼</button>
        <div id="collapse-element" hidden>
            <div class="card card-body mt-2" id="data-list">
            </div>
        </div>
    </div>
</div>
